<body>
    <form method="POST" action="/new">
        <label for="author">Name: </label>
        <input type="text" name="author" id="author">
        <label for="messageText">Message</label>
        <textarea name="messageText" id="message"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>